In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lasa,46.6166,10.7002,54.86,33,5,2.80,IT,2022-02-09 17:38:24
1,1,Upernavik,72.7868,-56.1549,-12.21,68,96,8.72,GL,2022-02-09 17:38:24
2,2,Cape Town,-33.9258,18.4232,73.89,71,0,12.66,ZA,2022-02-09 17:37:24
3,3,Bluff,-46.6000,168.3333,59.81,97,100,3.80,NZ,2022-02-09 17:38:25
4,4,Tambura,5.6000,27.4667,82.06,22,19,4.54,SS,2022-02-09 17:38:25

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Cape Town,-33.9258,18.4232,73.89,71,0,12.66,ZA,2022-02-09 17:37:24
4,4,Tambura,5.6000,27.4667,82.06,22,19,4.54,SS,2022-02-09 17:38:25
6,6,Kapaa,22.0752,-159.3190,71.92,79,20,9.22,US,2022-02-09 17:38:09
8,8,Rikitea,-23.1203,-134.9692,78.71,68,4,16.06,PF,2022-02-09 17:38:07
17,17,Luganville,-15.5333,167.1667,78.26,87,100,8.63,VU,2022-02-09 17:38:28
18,18,Saint-Philippe,-21.3585,55.7679,78.39,78,98,6.98,RE,2022-02-09 17:38:28
19,19,Poum,-20.2333,164.0167,81.28,87,100,28.36,NC,2022-02-09 17:38:29
22,22,Omboue,-1.5746,9.2618,79.14,87,42,7.85,GA,2022-02-09 17:38:29
23,23,Kalmunai,7.4167,81.8167,75.60,83,81,7.67,LK,2022-02-09 17:38:30
27,27,Castro,-24.7911,-50.0119,74.17,65,45,3.42,BR,2022-02-09 17:38:31

In [20]:
preferred_cities_df.count()

City_ID       227
City          227
Lat           227
Lng           227
Max Temp      227
Humidity      227
Cloudiness    227
Wind Speed    227
Country       223
Date          227
dtype: int64

In [21]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       4
Date          0
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2        Cape Town      ZA     73.89 -33.9258   18.4232
4          Tambura      SS     82.06   5.6000   27.4667
6            Kapaa      US     71.92  22.0752 -159.3190
8          Rikitea      PF     78.71 -23.1203 -134.9692
17      Luganville      VU     78.26 -15.5333  167.1667
18  Saint-Philippe      RE     78.39 -21.3585   55.7679
19            Poum      NC     81.28 -20.2333  164.0167
22          Omboue      GA     79.14  -1.5746    9.2618
23        Kalmunai      LK     75.60   7.4167   81.8167
27          Castro      BR     74.17 -24.7911  -50.0119

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Cape Town,ZA,73.89,-33.9258,18.4232,Southern Sun Waterfront Cape Town
4,Tambura,SS,82.06,5.6000,27.4667,Rikito Lodge
6,Kapaa,US,71.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Rikitea,PF,78.71,-23.1203,-134.9692,People ThankYou
17,Luganville,VU,78.26,-15.5333,167.1667,The Espiritu Hotel

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))